/* 
가장 연함 : #f0fff5
중간 : #deffe9
가장 진함 : #c5edd2
*/

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0fff5;
}

#body_div{
    text-align: center;
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
    background-color: #f0fff5;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

#mob_topbar{
    display: none;
}

#body_div{
    background-attachment: scroll;
}

ul{
    list-style-type: none;
}

.topbar_ul_list{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

#memo{
    width: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#topbar_ul li:nth-of-type(n):hover:not(#memo){
    background-color: #d1ffe0;
    transition: background-color 0.5s;
}

#topbar_ul li:nth-of-type(n):hover:not(#memo) .topbar_ul_list{
    max-height: 100%;
    transition: max-height 0.5s;
}

#navDiv{
    display: flex;
    width: 100%;
    padding: 30px;
    
    margin: 20px;
    margin:  0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    transition: background-color 0.5s;
}

#topbar{
    background-color: #deffe9;
    border-bottom: 2px solid #ccc;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#topbar_ul{
    width: 100%;
    display: flex;
}

#topbar_ul > li{
    flex: 1;
}

#logo{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -7px;
    left: 210px;
}

#navtitle{
    width: 400px;
    height: 75px;
    display: flex;
    align-items: top;
    justify-content: center;
}

#topbar_ul > li > div:nth-of-type(2n-1){
    padding-bottom: 10px;
    padding-top: 10px;
}

.topbar_ul_list > ul > li{
    margin: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #aaa;
}

.topbar_ul_list > ul > li:hover{
    cursor: pointer;
    font-weight: bold;
}

#memo > a{
    color: black;
    text-decoration: none;
}

#memo > a:hover{
    font-weight: bold;
}

#logo_btn{
    position: relative;
}

#logo_btn:hover{
    cursor: pointer;
}

#topbar_hr{
    border: 0;
    height: 3px;
    background: #ccc;
    width: 10000px;
    position: absolute;
    right: 0px;
}

#section_1 > article > h1{
    padding: 50px
}

img{
    width: 700px;
}

#backImg_left_1, #backImg_right_1{
    width: 300px;
    height: 300px;
    top: 300px;
    z-index: 1;
}

.deco{
    text-decoration: line-through; 
}

#article_2>p, 
#article_3>ul>li>p, 
#article_4>p, 
#article_5>ul>li>p,
#article_6>p{
    font-size: 0.85em;
    line-height: 25px;
}

.textimg{
    width: 50%;
}

#footerDiv{
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
    padding: 10px;
}

#data{
    height: 43px;
    margin-right: 10px;
}
#inputbtn {            
    border: 0;
    text-align: center;
    color: white;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom: 4px solid rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    background: rgba(102, 152, 203, 1);
}
#inputbtn:active {
    background: #608FBF;
}

#search{
    display: flex;
    justify-content: center;
}

#logo_m{
    display: none;
}

#sidebar{
    /* display: none; */
    display: flex;
    position: fixed;
    text-align: center;
    margin: 0 auto;
    top: 40%;
    left: 90%;
    font-family: 'Jua', sans-serif;
    background-color: #f0fff5;
    z-index: 1000;
}

#sideDiv{
    border: 1px solid #aaa;
    background-color: #deffe9;
    padding: 0px;
}

#sideinput{
    display: flex;
}

#sideinput>p{
    display: inline;
    padding-left: 5px;
    padding-top: 5px;
}

#inputFloor{
    display: inline;
    text-align: right;
    width: 40px;
    height: 25px;
    background-color: #deffe9;
    border: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-weight: bold;
}

#sideTop{
    display: flex;
    margin-top: 3px;
    margin-bottom: 7px;
    padding: 7px;
}

#sideTop>input{
    background-color: white;
    border: 1px solid #ccc;
    padding: 3px;
    cursor: pointer;
    margin-left: 3px;
    font-weight: bold;
}

#sideBottom>input{
    cursor: pointer;
}

#sideBottom{
    margin-top: 8px;
}

#topbtn{
    transform:rotate(180deg);
    width: 30px;
}

#botbtn{
    width: 30px;
}

#sidebool{    
    background-color: white;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 5px;
    width: 13px;
    height: 13px;
    font-size: 0.6em;
    font-weight: bold;
    cursor: pointer;
}

#sidebotbool{
    display: flex;
    justify-content: center;
    border-top: 1px solid #aaa;
    margin-top: 10px;
    background-color: #c5edd2;
    padding: 3px;
}

#sidetitle>h1{
    border-bottom: 1px solid #aaa;
    padding-top: 5px;
    background-color: #c5edd2;
    font-size: 1.3em;
}

#sidetitle{
    cursor: move;
}

#sideonoff{
    text-align: right;
    padding: 20px;
}

@media(max-width: 480px){  /*모바일 버전*/
    body{
        font-size: 1.2em;
        width: auto;
        margin: 0px auto;
    }

    #sidebar{
        display: none;
    }

    #backImg_right_1{
        display: none;
    }
    #section_1{
        padding-right: 10px;
        padding-left: 10px;
    }

    #topbar{
        display: none;
    }

    #logo_btn{
        display: none;
        position: relative;
    }
    
    #logo_m{
        display: flex;
        position: relative;
    }

    #logo_m>h1{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }

    #logo_m>img{
        position: absolute;
        top: 15%;
        left: 53%;
    } 

    #mob_topbar{
        display: flex;
    }

    #mob_navDiv{
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: center;
        background-color: #deffe9;
    }

    #mob_navDiv input{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #mob_topbar_btn{
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border: 1px solid black;
        font-weight: bold;
    }
    
    img{
        width: 100%;
    }

}

