@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0fff5;
}

a{
    text-decoration: none;
}

#body_div{
    text-align: center;
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
    background-color: #f0fff5;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

#navDiv{
    display: flex;
    width: 100%;
    padding: 30px;
    
    margin: 20px;
    margin:  0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    transition: background-color 0.5s;
}

#topbar{
    background-color: #deffe9;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 0px;
}

#logo{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 23px;
    left: 240px;
}

#navtitle{
    width: 400px;
    height: 75px;
    display: flex;
    align-items: top;
    justify-content: center;
}

img{
    width: 700px;
}

#backImg_left_1, #backImg_right_1{
    width: 300px;
    height: 300px;
    top: 300px;
    z-index: 1;
}

#topbar_right{
    font-size: 1.5em;
    margin-left: 600px; /* 임시 */
}

#section_1 > article > h1{
    padding: 50px
}

table{
    margin: 30px;
    padding: 30px;
    border: none;
    padding-bottom: 0px;
    border-spacing: 0;
    border-collapse: collapse;
}

table > tbody > tr > td > *{
    width: 100%;
    padding: 5px;
}

table > tbody > tr > *{
    background-color: #c5edd2;
    padding: 10px;
    border: 1px solid;
}

#article_1 > h1{
    font-size: 2em;
}

.radiobtn *{
    cursor: pointer;
}

#_1fbtn{
    cursor: pointer;
    height: 100%;
    padding: 8px 20px;
    color: white;
    background: rgba(102, 152, 203, 1);
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom: 4px solid rgba(0, 0, 0, 0.21);
    font-weight: bold;
    border-radius: 10px;
}

.githublogo{
    width: 15px;
}

#footergithub{
    color: black;
}

#footergithub:hover{
    color: slategray;
}

#resetbtn{    
    position: sticky;
    top: 20px;
    cursor: pointer;
    height: 100%;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: rgba(102, 152, 203, 1);
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom: 4px solid rgba(0, 0, 0, 0.21);
    font-weight: bold;
    border-radius: 10px;
}

#memo{
    display: flex;
    justify-content: center;
}

#footerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #deffe9;
}

#footergithub{
    color: black;
}

#footergithub:hover{
    color: slategray;
}

    
#mob_topbar_btn{

}

@media(max-width: 480px){ 
    #memo{
        display: none;
    }

    #article_1{
        font-size: 3em;
    }
}
