ul{
    list-style-type: none;
}

.topbar_ul_list{
    max-height: 0px;
    overflow: hidden;
}

#topbar_ul > li:nth-of-type(n):hover{
    background-color: #DDDDDD;
}

#topbar_ul > li:nth-of-type(n):hover ~ .topbar_ul_list{
    background-color: black;
    max-height: 100px;    
    height: 100px;
}
